
.game-container {
    /* max-width: 700px; */
    width: 54em;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #315144;
    font-family: Chalkduster, fantasy;
    margin-bottom: 14rem;
    border: solid 20px #9d906f;
  }
  h1{
    color: aliceblue;
  }
  .score {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: bold;
    color: aliceblue;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }
  
  .choice-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 2px solid #333;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Chalkduster, fantasy;
  }
  
  .choice-btn:hover {
    background: #333;
    color: white;
    transform: translateY(-2px);
  }
  
  .choice-btn.selected {
    background: #333;
    color: white;
    font-family: Chalkduster, fantasy;

  }
  
  .result {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
    background: #000000a4;
  }
  
  .result-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: aliceblue;
  }
  
  p{
    color: rgba(249, 250, 251, 0.842);
    margin: 6px;
  }