.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/class2.jpeg);
  background-size: cover;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


